.top-nav {
    position:sticky;
    background-color: black;
    overflow: hidden;
    width: 100%;
}

.top-nav a {
    text-decoration: none;
    color: white;
    float: left;
    padding: 5px 10px;
}

.top-nav a:hover {
    background-color: slategray;
}

.top-nav a:active {
    background-color: lightgray;
    color: black;
}

.top-nav a.active {
    background-color:  white;
    color: black
}

.top-nav h1 {
    color: white;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}